{
    "PORT": 3000,

    "jwtSecret": "test",

    "webcam": {
        "url": "/var/run/shm/webcam.jpeg"
    },

    "users": [
        {"name": "demo", "password": "demo"}
    ],

    "gpio": {
        "toggle_pin": 25,
        "status_pin": 4
    },

    "garage": {
        "move_time": 12
    }
}
