extends layout

block content
    #login.hidden
        p.alert.alert-danger.hidden#login_message
        form(action="/", role="form")
            .form-group
                label(for="username") User:
                input(name="username",type="text",placeholder="Enter Username",value="#{username || ''}").form-control#username
            .form-group
                label(for="password") Password:
                input(name="password",type="password",placeholder="Enter Password").form-control#password
            button.btn.btn-default(type="button")#login_button Login

    #main.hidden
        p#message.alert.alert-default
        div(style="text-align: center; padding-bottom: 20px;")
            img(src="webcam.jpg", style="border: 1px solid #000").img-responsive#webcam
        button.btn.btn-primary.hidden#open_button Open Door
        button.btn.btn-danger.hidden#close_button Close Door
        p(style="padding-top: 20px; font-size: 8pt; color: #888;")
            i There are <span id="count"></span> active connections.
        div(style="height: 200px; overflow-y: scroll").table-responsive
            table.table.table-striped.table-condensed(style="font-size: 8pt; padding:0px;")
                thead
                    tr
                        th(style="width: 180px") Date
                        th(style="width: 100px") Operation
                        th(style="width: 120px") User
                        th User-Agent
                tbody#log

block extra_javascript
    script(src="/javascripts/main.js")
