extends layout

block content
    h1 GarageberryPi Login
    p Identify yourself stranger!
    if message
        p.alert.alert-danger= message
    form(action="/", role="form", method="post")
        .form-group
            label(for="username") User:
            input(name="username",type="text",placeholder="Enter Username",value="#{username || ''}").form-control#username
        .form-group
            label(for="password") Password:
            input(name="password",type="password",placeholder="Enter Password").form-control#password
        button.btn.btn-default(type="submit") Login




